<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>inlämning 2</title>
</head>
<body>
    <div style="
       margin: auto;
       width:fit-content;
       border: 3px solid #d65da8;
       padding: 10px;
     ">

     

    

        <a href="http://localhost:8000/pages"><button style=" background-color: #d65da8;
          border: none;
          color: white;
          padding: 20px;
          text-align: center;
          font-size: 15px;
          margin: 4px 2px;
          cursor: pointer;">
                Pages
            </button></a>



             <a href="http://localhost:8000/"><button style=" background-color: #d65da8;
          border: none;
          color: white;
          padding: 20px;
          text-align: center;
          font-size: 15px;
          margin: 4px 2px;
          cursor: pointer;">
                Home
            </button></a>   


         <a href="http://localhost:8000/posts"><button style=" background-color: #d65da8;
          border: none;
          color: white;
          padding: 20px;
          text-align: center;
          font-size: 15px;
          margin: 4px 2px;
          cursor: pointer;">
                Posts
            </button></a> 

            
        


    </div>

    {{{ body }}}
</body>
</html>