<h2 style=" 
       margin: auto;
       width: fit-content;
       padding: 10px;
       margin-top: 20px;
       color: white;
       background: #d65da8;
       font-size: 18px;
"> [ HOME ] </h2>

<img src="/public/img/johanna.jpg" alt="jonna" height="80%" width="100%">