<h2 style=" 
       margin: auto;
       width: fit-content;
       border: 3px solid #d65da8;
       padding: 10px;
       margin-top:75px;
"> KUNGENS SIDA </h2>


<img src="/public/img/welcomemaster.jpg" alt="welcome" height="80%" width="100%">
