<h2 style=" 
       margin: auto;
       width: fit-content;
       padding: 10px;
       margin-top: 20px;
       color: white;
       background: #d65da8;
       font-size: 18px;
"> [ PAGES ] </h2>



{{#each pages}}
<h3 style="
        margin: auto;
       padding: 10px;
       margin-top: 10px;
       color: #d65da8;
       border: 3px solid #d65da8;
       font-size: 18px;
">{{title.rendered}}</h3>
{{/each}}